
<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  
<div class="container-fluid">

  <div class="row" style="color: #fff;">

<div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
  <div class="card-body"  >
    <h4 class="card-title">K-Nearest-Neigbor (KNN)</h4>
    <p class="card-text"><%=knn_bin_cls%></p>
    <p class="card-text"><%=knn_mul_cls%></p>
    <p class="card-text"><%=knn_desc%></p>
    <p class="card-text">KNN Binary Class Accuracy = <%=knn_bin_acc%></p>
    <p class="card-text">KNN Multi Class Accuracy = <%=knn_mul_acc%></p>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/knn_bin_table" role="button">Binary-Class Classification Table</a>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/knn_table" role="button">Multi-Class Classification Table</a>

    
  </div>
</div>
<div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
  <div class="card-body"  >
    <h4 class="card-title">Random Forest</h4>
    <p class="card-text"><%=rf_bin_cls%></p>
    <p class="card-text"><%=rf_mul_cls%></p>
    <p class="card-text"><%=rf_desc%></p>
    <p class="card-text">Random Forest Binary Class Accuracy = <%=rf_bin_acc%></p>
    <p class="card-text">Random Forest Multi Class Accuracy = <%=rf_mul_acc%></p>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/rf_bin_table" role="button">Binary-Class Classification Table</a>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/rf_table" role="button">Multi-Class Classification Table</a>
  </div>
</div>
<div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
  <div class="card-body"  >
    <h4 class="card-title">Convolutional Neural Network (CNN)</h4>
    <p class="card-text"><%=cnn_bin_cls%></p>
    <p class="card-text"><%=cnn_mul_cls%></p>
    <p class="card-text"><%=cnn_desc%></p>
    <p class="card-text">CNN Binary Class Accuracy = <%=cnn_bin_acc%></p>
    <p class="card-text">CNN Multi Class Accuracy = <%=cnn_mul_acc%></p>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/cnn_bin_table" role="button">Binary-Class Classification Table</a>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/cnn_table" role="button">Multi-Class Classification Table</a>
  </div>
</div>
<div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
  <div class="card-body"  >
    <h4 class="card-title">Long Short Term Memory (LSTM) </h4>
    <p class="card-text"><%=lstm_bin_cls%></p>
    <p class="card-text"><%=lstm_mul_cls%></p>
    <p class="card-text"><%=lstm_desc%></p>
    <p class="card-text">LSTM Binary Class Accuracy = <%=lstm_bin_acc%></p>
    <p class="card-text">LSTM Multi Class Accuracy = <%=lstm_mul_acc%></p>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/lstm_bin_table" role="button">Binary-Class Classification Table</a>
    <a class="btn btn-success" style="text-align: center; background-color: #5bc0de;" href="/lstm_table" role="button">Multi-Class Classification Table</a>
  </div>
</div>

<div class="login-box">
  <a class="btn btn-success" style="text-align: center;" href="/submit" role="button">
    Predict Again!
  </a>
  <a class="btn btn-dark" style="text-align: center;background-color: #dd4b39; #dd4b39" href="/logout" role="button">
    LOGOUT
  </a>
  </div>
  </div>
  <%-include('partials/footer') %>
</div>
<script>
var myVar;
function myFunction() {
  myVar = setTimeout(showPage, 100);
}
<%-include('partials/loadfoot') %>